*{
    font-size: 1rem;
}

.flex{
    display: flex;
}

header > div{
    width: 96vw;
    margin: auto;
    justify-content: space-between;
}

header > div > div:first-child{
    width: 8vw;
    justify-content: space-between;
}