{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <title>Taskr | Home</title>
</head>
<body>
    <header>
        <div class="flex">
            <div class="flex">
                <div>
                    #img
                </div>
                <div>
                    Taskr
                </div>
            </div>
            <div>
                Login
            </div>
        </div>
    </header>
</body>
</html>